@use "./fonts" as *;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// fonts

$oswald: "Oswald";
$oswaldB: "Oswald Bold";

$roboto: "Roboto";
$robotB: "Roboto Bold";